{% extends "layout.html" %}
{% block title %}Donors{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <h1>Donors</h1>
      <a class="btn btn-primary" href="{{ url_for('new_donor') }}">Create a new donor</a>
    </div>
  </div>
  {% for donor in donors %}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Donor ID: {{ donor["donor_id"] }}</div>
          <div class="panel-body">
           <ol>
           {% for label, completed in donor["status"] %}
              {% if completed %}
                <li><del>{{ label }}</del></li>
              {% else %}
                <li>{{ label }}</li>
              {% endif %}
           {% endfor %}
           </ol>
           <a href="{{ url_for('edit_donor', donor_id=donor["donor_id"]) }}">Edit this donor</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}