{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block title %}Sparta{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 0.4em 0.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

  </style>
{% endblock %}
{% block content  %}
{{util.flashed_messages(dismissible=True)}}


<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <h1>Basic statistics</h1>
      Total donors: {{ total_donors }}
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12'>
      <div id="durations"></div>
    </div>
  </div>
   <div class="row">
    <div class='col-sm-12'>
      <h1>Donors</h1>
      <a class="btn btn-primary" href="{{ url_for('new_donor') }}">Create a new donor</a><br><br>
      <a class="btn btn-primary" href="{{ url_for('donor_list')}}">View all donors</a>
    </div>
  </div>
  
</div>
{% endblock %}

{% block scripts  %}
{{super()}}

{% endblock %}