{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block title %}Sparta{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 0.4em 0.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

  </style>
{% endblock %}
{% block content  %}
{{util.flashed_messages(dismissible=True)}}


<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <h1>Basic statistics</h1>
      Total donors: {{ total_donors }}
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12'>
      <div id="durations"></div>
    </div>
  </div>
   <div class="row">
    <div class='col-sm-12'>
      <h1>Donors</h1>
      <a class="btn btn-primary" href="{{ url_for('new_donor') }}">Create a new donor</a>
    </div>
  </div>
  {% for donor in donors %}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Donor ID: {{ donor["donor_id"] }}</div>
          <div class="panel-body">
           <ol>
           {% for label, completed in donor["status"] %}
              {% if completed %}
                <li><del>{{ label }}</del></li>
              {% else %}
                <li>{{ label }}</li>
              {% endif %}
           {% endfor %}
           </ol>
           <a href="{{ url_for('edit_donor', donor_id=donor["donor_id"]) }}">Edit this donor</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}

{% block scripts  %}
{{super()}}

<script src="/static/js/plotly-latest.min.js"></script>
<script type="text/javascript">
$(function () {
  var data_list = []
  {% for title, data, id in timing_histograms %}
    data_list.push({
      y: {{data}},
      name: '{{title}}',
      boxpoints: 'all',
      jitter: 0.3,
      pointpos: -1.8,
      type: 'box'
    })
  {% endfor %}
  Plotly.plot(document.getElementById('durations'), data_list, {title:"Durations of common tasks", yaxis:{title:"minutes"}})
  });
</script>
{% endblock %}