{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block title %}Donor list{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 0.4em 0.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

  </style>
{% endblock %}
{% block content  %}
{{util.flashed_messages(dismissible=True)}}




<div class="container">
  <div class="row">
  <div class='col-sm-12'>
  <h1>New donation</h1>
  {{ wtf.quick_form(form, form_type='horizontal', enctype="multipart/form-data", horizontal_columns = ('lg', 3, 9), action="")}}
  </div>
  </div>

</div>
{% endblock %}
{% block scripts  %}
{{super()}}

      <script src="/static/js/moment-with-locales.js"></script>
      <script src="/static/js/bootstrap-datetimepicker.js"></script>
      <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css" />
<script type="text/javascript">
            $(function () {
              $($("fieldset fieldset")[0]).wrap( "<div class='col-sm-6'></div>" );
              $($("fieldset fieldset")[1]).wrap( "<div class='col-sm-6'></div>" );
              $($("fieldset")[5].children[1]).wrap( "<div class='col-sm-6'></div>" );
              $($("fieldset")[5].children[2]).wrap( "<div class='col-sm-6'></div>" );
               $("input[id*='_time']").each(function (i, el) {
                  $(el).datetimepicker({
                  locale: 'en-gb',
                  sideBySide: true,
                })
              });
                
            });
        </script>
        {% endblock %}