{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block title %}Donor list{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content  %}
{{util.flashed_messages(dismissible=True)}}




<div class="container">
  <div class="row">
  <h1>New donor</h1>
  {{ wtf.quick_form(form, form_type='basic', action="./new")}}
  </div>
</div>
{% endblock %}
